.slider {
    display: flex;
    gap: 1rem;
    animation: scroll 15s linear infinite;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .slide {
    flex-shrink: 0;
  }
  